<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSPandServlet_exr</display-name>
  <servlet>
  	<servlet-name>MyServlet</servlet-name>
  	<servlet-class>Servlet_example.JSPandServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyServlet02</servlet-name>
  	<servlet-class>Servlet_example.ServletRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyServlet03</servlet-name>
  	<servlet-class>Servlet_example.ServletGetAndPost</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyServlet04</servlet-name>
  	<servlet-class>Servlet_example.ServletGetParameter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyServlet05</servlet-name>
  	<servlet-class>Servlet_example.ServletConfiguration</servlet-class>
  	<init-param>
  		<param-name>start</param-name>
  		<param-value>1</param-value>
  	</init-param>
  	<init-param>
  		<param-name>end</param-name>
  		<param-value>10</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>MyServlet06</servlet-name>
  	<servlet-class>Servlet_example.ServletHeader</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyServlet07</servlet-name>
  	<servlet-class>Servlet_example.ServletHeaderChange</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>MyServlet</servlet-name>
  	<url-pattern>/First</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyServlet02</servlet-name>
  	<url-pattern>/ServletRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyServlet03</servlet-name>
  	<url-pattern>/ServletGetAndPost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyServlet04</servlet-name>
  	<url-pattern>/ServletGetParameter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyServlet05</servlet-name>
  	<url-pattern>/ServletConfiguration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyServlet06</servlet-name>
  	<url-pattern>/ServletHeader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyServlet07</servlet-name>
  	<url-pattern>/ServletHeaderChange</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>