@charset "UTF-8";
* {
	margin:0;
	box-sizing: border-box;
}
#wrap {
    width: 100%;
    min-height: 100vh;
    background-color: #E0EBFF;
    position: relative;
}
header {
    width: 100%;
    height: 75px;
    margin: 0 auto;
    background-color: #3C5A91;
    color: white;
    padding: 15px 0px 15px 0;
}
#menus {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #8C8CBE;
    padding: 10px;
}
section {
    width: 100%;
    padding: 50px;
    background-color: #E0EBFF;
}
footer {
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: #3C5A91;
    color: white;
    position: absolute;
    bottom: 0px;
}
table {
	text-align:center;
	border : 1px;
	border-color: black;
	border-style : double;
}
td {
	border : 1px;
	border-color: black;
	border-style: double;
}

a.menu:link, a.menu:visited {
  background-color: #8C8CBE;
  color: white;
  padding: 4px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.button:link, a.button:visited {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
