<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletMIME</display-name>
  
  <filter>
  	<filter-name>MyFilter01</filter-name>
  	<filter-class>ServletFilter_filterclass</filter-class>
  </filter>
  <filter>
  	<filter-name>MyFilter02</filter-name>
  	<filter-class>ServletFilter_errorfilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>MyFilter01</filter-name>
  	<url-pattern>/ServletFilter</url-pattern>
	<!--   	 필터가 적용될 서블릿 -->
  </filter-mapping>
  <filter-mapping>
  	<filter-name>MyFilter02</filter-name>
  	<url-pattern>/ServletFilter_error</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>MyServletMIME01</servlet-name>
  	<servlet-class>ServletMIME_ms.ServletMIME_excel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyServletMIME02</servlet-name>
  	<servlet-class>ServletMIME_image.ServletMIME_image</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyServletFilter01</servlet-name>
  	<servlet-class>ServletFilter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyServletFilter02</servlet-name>
  	<servlet-class>ServletFilter_error</servlet-class>
  </servlet>
   	
  <servlet-mapping>
  	<servlet-name>MyServletMIME01</servlet-name>
	<url-pattern>/ServletMIME_excel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyServletMIME02</servlet-name>
	<url-pattern>/ServletMIME_image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyServletFilter01</servlet-name>
	<url-pattern>/ServletFilter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyServletFilter01</servlet-name>
	<url-pattern>/ServletFilter_error</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>